*{
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    font-family: cursive;
}
.a{
    width: 5%;
    height: 50px;
    background-color: aqua;
    padding-top: 1%;
}
input:first-of-type{
    width: 5%;
    font-size: large;
}
.correct{
    background-color: green;
    width: 20%;
}
.wrong{
    background-color: red;
    width: 20%;
}   