* {
    margin: 0 auto;
    font-family: cursive;
}
header{
    text-align: center;
}
main{
    text-align: center;
}
section {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
section p{
    text-align: start;
}
section div{
    margin: 0;
}

.a{
    width: 30%;
}
.a input{
    width: 100%;
}
.a p{
    text-align: start;
}
.b{
    width: 30%;
}
.b textarea{
    width: 100%;
}
.b p {
    text-align: start;
}
.l{
    text-align: right;
}