<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Display</title>
    <style>
        form *{
            margin: 0 auto;
            font-family: cursive;
        }
        .title{
            border: 2px solid black;
            width: 15%;
            text-align: center;
            padding: 1%;
        }
        .time{
            border: 2px solid black;
            width: 30%;
            text-align: center;
            padding: 1%;
            font-size: xx-large;
            margin-top: 1%;
        }
    </style>
</head>
<body>
    <form action="">
        <div>
            <div class="title">
                <p>the current time and date:</p>
            </div>
            <div class="time">
                <p>{{date}}</p>
                <p>{{time}}</p>
            </div>
        </div>
    </form>
</body>
</html>