<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login & Registration</title>
    <style>
        *{
            font-family:cursive;
        }
        main {
            display: flex;
            justify-content: space-around;
        }

        h1{

            text-align: center;
        }
        p{
            text-align: start;
        }

        td {
            padding-bottom: 10px;
            width: 100px;
        }
        button{
            box-shadow: 2px 2px black;
            border-radius: 1px;
        }
    </style>
</head>

<body>
    <main>
        <article>

            <form action="/reg" method="post">
                {%csrf_token%}
                <h1>Register</h1>
                <table>
                    <tr>
                        <td><label>First Name:</label><input type="text" name="fname"></td>
                    </tr>
                    <tr>
                        <td><label>Last Name:</label><input type="text" name="lname"></td>
                    </tr>
                    <tr>
                        <td><label>Email:</label><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td><label>Password:</label><input type="password" name="pass"></td>
                    </tr>
                    <tr>
                        <td><label>Confirm Password:</label><input type="password" name="cpass"></td>
                    </tr>
                </table>
                <p><button name="submit" value="Register">Register</button></p>
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li style="color: red;" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </article>

        <aside>
            <form action="/login" method="post">
                {%csrf_token%}
                <h1>Login</h1>
                <table>
                    <tr>
                        <td><label>Email:</label><input type="text" name="email2"></td>
                    </tr>
                    <tr>
                        <td><label>Password:</label><input type="text" name="pass2"></td>
                    </tr>
                </table>
                <p><button name="submit" value="Log In">Log In</button></p>
                
            </form>
        </aside>
    </main>
</body>

</html>