<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <style>
        ul {
            padding: 0;
            text-align: start;
            width: 80%;
        }

        li {
            padding-left: 5%;
            text-align: start;
            width: 80%;
        }

        textarea {
            width: 80%;
        }

        p {
            text-align: end;
            width: 80%;
        }

        .c{
            color: red;
            padding-left: 5%;
        }
    </style>
</head>

<body>
    <a href="/logout">Log Out</a>
    <h1>Success! Welcome, {{reg.first_name}}</h1>
    <hr>
        <form action="/addm" method="post">
            {%csrf_token%}
            <textarea name="pm" id="" cols="30" rows="10"></textarea><br>
            <p><input type="submit" value="Post a message"></p>
        </form>
</body>

</html>